p {
	font-size: 24px;
	background-color:   #abafad  ;
	clear: right;
	padding: 10px 10px 10px 10px;

}

h1{
	text-align: center;
	font-size: 45px;
	font-style: italic;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body{
	background-color:    #b9d5fa ;

}

* {
	box-sizing: border-box;
}

div.smalli{

	background-color:  #e51f0b;
	font-size: 35px;
	float: right;
	border: 2px solid;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width: 5em;
	text-align: center;
	font-weight: bold;

}

#div1{
	background-color:   #abafad  ;
	border: 1px solid;
	
}

#div2{
	background-color:   #abafad  ;
	border: 1px solid;
	
}

#div3{
	background-color:   #abafad  ;
	border: 1px solid;
	
}
.titul{
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}

@media(min-width: 992px){
	#div1{
		width: 30%;
		float: left;
		margin: 10px 10px 10px 48px;
	}

	#div2{
		width: 30%;
		float: left;
		margin: 10px 10px 10px 10px;
	}

	#div3{
		width: 30%;
		float: left;
		margin: 10px 10px 10px 10px;


	}



}

@media(min-width: 768px) AND (max-width: 991px){
	#div1{
		width: 48%;
		float: left;
		margin: auto;
		margin-bottom: 10px;
		margin-left: 10px;
	}

	#div2{
		width: 48%;
		float: right;
		margin: auto;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	#div3{
		width: 98%;
		
		clear: left;
		clear: right;
		margin-left: 10px;
		
	}

}

@media(max-width:767px ){
	#div1{
		width: 100%;
		margin: 10px 10px 10px 10px;
	}

	#div2{
		width: 100%;
		margin: 10px 10px 10px 10px;
	}

	#div3{
		width: 100%;
		margin: 10px 10px 10px 10px;
	}

}



